# Compiled binary files
*.exe
*.out

# Log files
*.log

# Idea files
*.idea

# Dependency directories
vendor/
*/vendor/

# Build directories
bin/
*/bin/

# Go package files
*.a
*.o

# Output files
*.prof

# Text editor backup files
*~
*.swp
*.swo
*.swn

# macOS specific files
.DS_Store
.AppleDouble
Icon?
._*
